#home-content {
    margin: 0 30px;
}

/* index.html */
#home-img {
    width: 100%;
}

#home-bulletinBoard {
    display: flex;
}

#home-bulletinBoard .announce {
    border: 3px solid #c51230;
    border-radius: 10px;
    padding: 0 10px;
    margin: 20px;
}

#home-bulletinBoard .announce h3 {
    color: #c51230;
}

#home-bulletinBoard .announce p {
    color: gray;
}