/* content */
/* not implemented*/
#notImplemented-content {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#notImplemented-img {
    width: 50vw;
    opacity: 20%;
}

#notImplemented-content p {
    color: gray;
}